

@font-face {
  font-family: 'Neon Robot';
  src: local('Neon Robot'), url(./fonts/neon_robot/Neon\ Robot.otf) format('opentype');
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat'), url(./fonts/akrobat/Akrobat-Regular.woff) format('opentype');
}


* {
  box-sizing: border-box;
  font-family: Akrobat;
  color: #ffffff;
}

body {
  background-color: #050505;
  background: linear-gradient(0.25turn, #050505FF, #050505bb, #050505FF),
              url(./images/dark-bricks.webp);
  padding-left: calc(100vw - 100%);
}

img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --overlay-color: rgba(0,0,0,0);
  --overlay-blur: 0px;
  --overlay-pointer-events: none;

  --neon-blue-color1: #8fe3f9;
  --neon-blue-color2: #439eff;
  --neon-yellow-color1: #ffdb00;
  --neon-yellow-color2: #bf9b30;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  pointer-events: var(--overlay-pointer-events);
  background-color: var(--overlay-color);
  backdrop-filter: blur(var(--overlay-blur));
}


.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  text-align: left;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  border: 1px solid #eaeaea;
  box-shadow: inset 0 .1rem 0.2rem rgba(0,0,0,.6);
  animation-duration: 400ms;
  animation-name: shake;
}
.info-msg { color: #059; background-color: #BEF; }
.info-msg::before { content: 'ℹ️ ';}
.success-msg { color: #270; background-color: #DFF2BF; }
.success-msg::before { content: '✔️ '; }
.warning-msg { color: #9F6000; background-color: #FEEFB3; }
.warning-msg::before { content: '⚠️ '; }
.error-msg { color: #D8000C; background-color: #FFBABA; }
.error-msg::before { content: '❌ '; }



@keyframes shake {
  10%, 90% { transform: translate(-1px); }
  20%, 80% { transform: translate(2px); }
  30%, 50%, 70% { transform: translate(-4px); }
  40%, 60% { transform: translate(4px); }
}


input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

/*
button {
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
}
.button1:hover {
  background-color: #04AA6D;
  color: white;
}
*/

.button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  /*font-family: "JetBrains Mono",monospace;*/
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}
.button-1:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.button-1:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.button-1:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}



.article-card-high {
  border-radius: 8px;
  border: 1px solid #eaeaea;
  /*
  box-shadow: 0 .5rem 1.2rem rgba(0,0,0,.2);
  https://www.joshwcomeau.com/css/introducing-shadow-palette-generator/
  */
  --shadow-color: 0deg 0% 63%;
  box-shadow: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.34),
    -0.1px 2.2px 2.5px -0.4px hsl(var(--shadow-color) / 0.34),
    -0.1px 4px 4.5px -0.7px hsl(var(--shadow-color) / 0.34),
    -0.2px 6.6px 7.4px -1.1px hsl(var(--shadow-color) / 0.34),
    -0.3px 10.6px 11.9px -1.4px hsl(var(--shadow-color) / 0.34),
    -0.4px 16.6px 18.7px -1.8px hsl(var(--shadow-color) / 0.34),
    -0.7px 25.2px 28.4px -2.1px hsl(var(--shadow-color) / 0.34),
    -1px 37.1px 41.8px -2.5px hsl(var(--shadow-color) / 0.34);
  padding: .75rem 1.25rem;
}
.article-card-medium {
  border-radius: 8px;
  border: 1px solid #eaeaea;
  --shadow-color: 0deg 0% 63%;
  box-shadow: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.36),
    0px 1.2px 1.3px -0.8px hsl(var(--shadow-color) / 0.36),
    -0.1px 3px 3.4px -1.7px hsl(var(--shadow-color) / 0.36),
    -0.2px 7.4px 8.3px -2.5px hsl(var(--shadow-color) / 0.36);
  padding: .75rem 1.25rem;
}

div.create-page div.html-result {
  background-color: #333;
  display: inline-flex;
  gap: 5px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
}
